<div *ngIf="!(statuses | async)">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div class="card">
  <mat-card>
    <h4 class="subheading-1">Statuses</h4> 
    <mat-card-content>
      <mat-nav-list class="list">
        <div *ngFor="let status of statuses | async; let i = index;">
          <mat-divider *ngIf="i != 0"></mat-divider>
          <mat-list-item>
            <a matLine routerLink="/statuses/{{status.id}}">{{ status.description }}</a>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <a mat-fab color="primary" routerLink="/statuses/new" class="fab">
    <mat-icon>add</mat-icon>
  </a>

</div>