<div *ngIf="!(todos | async)">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<div class="card">
  <mat-card>
    <h4 class="subheading-1">Todos</h4>
    <mat-card-content>
      <mat-nav-list class="list">
        <div *ngFor="let todo of todos | async; let i = index">
          <mat-divider *ngIf="i != 0"></mat-divider>
          <mat-list-item>
            <a matLine routerLink="/todos/{{todo.id}}">{{ todo.title }}</a>
            <div class="{{ todo.status === '5a7a5b4249f3c32c884a8809' ? 'checkGreen' : ''}}">
              <mat-icon mat-list-icon>check_circle</mat-icon>
            </div>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <a mat-fab color="primary" routerLink="/todos/new" class="fab" >
    <mat-icon>add</mat-icon>
  </a>

</div>