<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/todos">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>{{ saveFunction == 'add' && todo.id === null ? 'Create Todo' : 'Update Todo' }}</h1>
  <span class="spacer"></span>
  <button *ngIf="todo.id" mat-icon-button color="warn" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Todo</mat-card-title>
  </mat-card-header>
  <div class="example-container">
    <form [formGroup]="todoForm" class="form" *ngIf="saveFunction == 'add' || ( todo.id != null )">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" [formControl]="title" [(ngModel)]="todo.title" [(value)]="todo.title" required>
        <mat-error *ngIf="title.invalid">Required field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea rows="8" matInput [formControl]="description" [(ngModel)]="todo.description" placeholder="Description" required>{{todo.description}}</textarea>
        <mat-error *ngIf="description.invalid">Required field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Status" [formControl]="status" [(ngModel)]="todo.status" [compareWith]="compareById" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let status of statuses | async" [value]="status.ref">
            {{ status.data().description }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid">Required field</mat-error>
      </mat-form-field>

      <div class="button-row">
        <button mat-fab color="primary" class="fab" (click)="save()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </form>
  </div>
</mat-card>