.example-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  
  .example-container > * {
    width: 100%;
  }

  
.fab {
  position: fixed;
  right: 20px;
  bottom: 15px;
  margin-left: -28px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.spacer {
  flex: 1 1 auto;
}

.error-snack-bar {
  background: red;
  color: red;
}

.card {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}